@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 292.2 100% 95%;
  --foreground: 292.2 5% 0%;
  --card: 292.2 50% 90%;
  --card-foreground: 292.2 5% 10%;
  --popover: 292.2 100% 95%;
  --popover-foreground: 292.2 100% 0%;
  --primary: 292.2 84.1% 60.6%;
  --primary-foreground: 0 0% 0%;
  --secondary: 292.2 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 254.2 30% 85%;
  --muted-foreground: 292.2 5% 35%;
  --accent: 254.2 30% 80%;
  --accent-foreground: 292.2 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 292.2 5% 90%;
  --border: 292.2 30% 50%;
  --input: 292.2 30% 18%;
  --ring: 292.2 84.1% 60.6%;
  --radius: 0.5rem;
}
.dark {
  --background: 292.2 50% 5%;
  --foreground: 292.2 5% 90%;
  --card: 292.2 50% 0%;
  --card-foreground: 292.2 5% 90%;
  --popover: 292.2 50% 5%;
  --popover-foreground: 292.2 5% 90%;
  --primary: 292.2 84.1% 60.6%;
  --primary-foreground: 0 0% 0%;
  --secondary: 292.2 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 254.2 30% 15%;
  --muted-foreground: 292.2 5% 60%;
  --accent: 254.2 30% 15%;
  --accent-foreground: 292.2 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 292.2 5% 90%;
  --border: 292.2 30% 18%;
  --input: 292.2 30% 18%;
  --ring: 292.2 84.1% 60.6%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
